

<nav class="flex py-4 items-center justify-center" aria-label="Progress">
  <p class="text-sm font-medium">Level of zoom</p>

  <ol class="ml-8 flex items-center space-x-5">
    <li>
      <!-- Completed Step -->

      <a *ngIf="zoomPer==50" (click)="zoomLevel(50)" class="relative flex items-center justify-center"
        aria-current="step">
        <span class="absolute w-5 h-5 p-px flex" aria-hidden="true">
          <span class="w-full h-full rounded-full bg-indigo-200"></span>
        </span>
        <span class="relative block w-2.5 h-2.5 bg-indigo-600 rounded-full" aria-hidden="true"></span>
      </a>
      <a *ngIf="zoomPer!=50" (click)="zoomLevel(50)"
        class="block w-2.5 h-2.5 bg-indigo-600 rounded-full hover:bg-indigo-900">
      </a>
    </li>

    <li>

      <a *ngIf="zoomPer==50" (click)="zoomLevel(75)"
        class="block w-2.5 h-2.5 bg-gray-200 rounded-full hover:bg-gray-400">
      </a>
      <a *ngIf="zoomPer==100" (click)="zoomLevel(75)"
        class="block w-2.5 h-2.5 bg-indigo-600 rounded-full hover:bg-indigo-900">
      </a>
      <a *ngIf="zoomPer==75" (click)="zoomLevel(75)" class="relative flex items-center justify-center"
        aria-current="step">
        <span class="absolute w-5 h-5 p-px flex" aria-hidden="true">
          <span class="w-full h-full rounded-full bg-indigo-200"></span>
        </span>
        <span class="relative block w-2.5 h-2.5 bg-indigo-600 rounded-full" aria-hidden="true"></span>
      </a>
    </li>

    <li>
      <a *ngIf="zoomPer==100" (click)="zoomLevel(100)" class="relative flex items-center justify-center"
        aria-current="step">
        <span class="absolute w-5 h-5 p-px flex" aria-hidden="true">
          <span class="w-full h-full rounded-full bg-indigo-200"></span>
        </span>
        <span class="relative block w-2.5 h-2.5 bg-indigo-600 rounded-full" aria-hidden="true"></span>
      </a>

      <a *ngIf="zoomPer!=100" (click)="zoomLevel(100)"
        class="block w-2.5 h-2.5 bg-gray-200 rounded-full hover:bg-gray-400">
      </a>
    </li>

  </ol>

  <span class=" px-4 relative z-0 inline-flex shadow-sm rounded-md">
    <button (click)="lessZoom()" type="button"
      class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
      <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
        aria-hidden="true">
        <path fill-rule="evenodd"
          d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
          clip-rule="evenodd" />
      </svg>
    </button>
    <button (click)="moreZoom()" type="button"
      class="-ml-px relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
      <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
        aria-hidden="true">
        <path fill-rule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clip-rule="evenodd" />
      </svg>
    </button>
  </span>

</nav>

<div class="space-y-5 sm:mx-auto sm:max-w-xl sm:space-y-4 lg:max-w-5xl">
  <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">{{title | titlecase}} </h2>
  <p class="text-xl text-gray-500">Click in the Art Object for more details</p>
</div>





<div *ngIf="zoomPer==75" class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 text-center sm:px-6 lg:px-8 lg:py-24">
    <div class="space-y-12">

      <ul class="mx-auto space-y-16 sm:grid sm:grid-cols-2 sm:gap-16 sm:space-y-0 lg:grid-cols-3 lg:max-w-5xl">
        <li *ngFor="let artObject of artObjects | paginator:page_size:page_number">
          <div [routerLink]="['object', artObject.objectID ]" class="cursor-pointer">

          <div class="space-y-6">

            <img class="animate__animated animate__fadeIn mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56" src="{{artObject.primaryImageSmall}}" alt="">
            <div class="text-lg leading-6 font-medium space-y-1">
              <h3>{{artObject.objectName}}</h3>
              <p class="text-indigo-600">{{artObject.objectDate}}</p>
            </div>
          </div>
        </div>
        </li>

      </ul>
    </div>
  </div>
</div>




<div *ngIf="zoomPer==50" class="bg-white">

  <div class="max-w-7xl mx-auto py-12 px-4 text-center sm:px-6 lg:px-8 lg:py-24">
    <div class="space-y-8 sm:space-y-12">

      <ul
        class="mx-auto grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-4 md:gap-x-6 lg:max-w-5xl lg:gap-x-8 lg:gap-y-12 xl:grid-cols-6">
        <li *ngFor="let artObject of artObjects | paginator:page_size:page_number" >
          <div [routerLink]="['object', artObject.objectID ]" class="cursor-pointer">
            <div class="space-y-4">
              <img class="animate__animated animate__fadeIn mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" src="{{artObject.primaryImageSmall}}" alt="">
              <div class="space-y-2">
                <div class="text-xs font-medium lg:text-sm">
                  <h3>{{artObject.objectName}}</h3>
                  <p class="text-indigo-600">{{artObject.objectDate}}</p>
                </div>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>


</div>













<div *ngIf="zoomPer == 100" class="bg-white">
  <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
    <div class="space-y-12">

      <ul class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8">
        <div *ngFor="let artObject of artObjects | paginator:page_size:page_number">

          <div [routerLink]="['object', artObject.objectID ]" class="cursor-pointer">

          <li>
            
            <div *ngIf="artObject.primaryImageSmall">
              <div class="space-y-4">
                <div class="aspect-w-3 aspect-h-2">
                  <img class="animate__animated animate__fadeIn object-cover shadow-lg rounded-lg" src="{{artObject.primaryImageSmall}}">
                </div>

                <div class="space-y-2">
                  <div class="text-lg leading-6 font-medium space-y-1">
                    <h3>{{artObject.objectName}}</h3>
                    <p class="text-indigo-600">{{artObject.objectDate}}</p>
                    <p *ngIf="artObject.city!" class="text-indigo-600">{{artObject.country}} </p>
                    <p *ngIf="artObject.city || artObject.state" class="text-indigo-600">{{artObject.city}} -
                      {{artObject.state}} </p>

                  </div>

                </div>
              </div>
            </div>
          </li>
        </div>
        </div>
      </ul>
    </div>
  </div>
</div>


<div class="flex py-4 items-center justify-center">
<mat-paginator [length]="totalObjects"
[pageSize]="page_size"
[pageSizeOptions]=pageSizeOptions
(page)="handlePage($event)"
>
</mat-paginator>

</div>
