<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-gray-50">
  <div class="relative bg-white shadow">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">

    </div>

  </div>

  <main class="lg:relative">

    <div class="mx-auto max-w-7xl w-full pt-16 pb-20 text-center lg:py-48 lg:text-left">
      <div class="px-4 lg:w-1/2 sm:px-8 xl:pr-16">
        <div class="bg-white shadow overflow-hidden sm:rounded-lg">
          <div  class="px-4 py-5 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              {{artObject.title}}
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
              {{artObject.objectDate}}
            </p>
          </div>
          <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
            <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
              <div *ngIf="artObject.artistDisplayName != null" class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Artist
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{artObject.artistDisplayName}}
                </dd>
              </div>
              <div *ngIf="artObject.department" class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Collection </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{artObject.department}}
                </dd>
              </div>
              <div *ngIf="artObject.country" class="sm:col-span-1">
                <dt  class="text-sm font-medium text-gray-500">
                  Country
                </dt>
                <a routerLink="/collections/collection/{{artObject.country}}" class="mt-1 text-sm text-gray-900">
                  {{artObject.country}}
                </a>
              </div>
              <div *ngIf="artObject.region" class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Region
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{artObject.region}}
                </dd>
              </div>
              <div *ngIf="artObject.culture" class="sm:col-span-2">
                <dt class="text-sm font-medium text-gray-500">
                  Culture
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{artObject.culture}} </dd> 
              </div>

              <div *ngIf="artObject.dynasty" class="sm:col-span-2">
                <dt class="text-sm font-medium text-gray-500">
                  Dynasty
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{artObject.dynasty}} </dd> 
              </div>
              <div *ngIf="artObject.reign" class="sm:col-span-2">
                <dt class="text-sm font-medium text-gray-500">
                  Reign
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{artObject.reign}} </dd> 
              </div>
              <div *ngIf="artObject.dimensions" class="sm:col-span-2">
                <dt class="text-sm font-medium text-gray-500">
                  Dimensions
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{artObject.dimensions}} </dd> 
              </div>
              <div *ngIf="artObject.classification" class="sm:col-span-2">
                <dt class="text-sm font-medium text-gray-500">
                  Classification
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{artObject.classification}} </dd> 
              </div>
              <div *ngIf="artObject.medium" class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Medium
                </dt>
                <a routerLink="/collections/collection/{{artObject.medium}}" class="mt-1 text-sm text-gray-900">
                  {{artObject.medium}}
                </a>
              </div>
              <div *ngIf="artObject.creditLine" class="sm:col-span-2">
                <dt class="text-sm font-medium text-gray-500">
                  Credit Line
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{artObject.creditLine}} </dd> 
              </div>
              <div *ngIf="artObject.artistDisplayBio" class="sm:col-span-2">
                <dt class="text-sm font-medium text-gray-500">
                  Bio Artist
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{artObject.artistDisplayBio}} </dd>
              </div>
              <div class="sm:col-span-2">
                <dt class="text-sm font-medium text-gray-500">
                  Attachments
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                    <li *ngIf="artObject.primaryImage" class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                      <div class="w-0 flex-1 flex items-center">
                        <!-- Heroicon name: solid/paper-clip -->
                        <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd"
                            d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z"
                            clip-rule="evenodd" />
                        </svg>
                        <span class="ml-2 flex-1 w-0 truncate">
                          Full image
                        </span>
                      </div>
                      <div class="ml-4 flex-shrink-0">

                        <a href="{{artObject.primaryImage}}" target="_blank"
                          class="font-medium text-indigo-600 hover:text-indigo-500">Link</a>

                      </div>
                    </li>
                    <li *ngIf="artObject.artistULAN_URL"
                      class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                      <div class="w-0 flex-1 flex items-center">
                        <!-- Heroicon name: solid/paper-clip -->
                        <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd"
                            d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z"
                            clip-rule="evenodd" />
                        </svg>
                        <span class="ml-2 flex-1 w-0 truncate">
                          More about the artist
                        </span>
                      </div>
                      <div class="ml-4 flex-shrink-0">
                        <a href="{{artObject.artistULAN_URL}}" target="_blank"
                          class="font-medium text-indigo-600 hover:text-indigo-500">Link</a>

                      </div>
                    </li>
                  </ul>
                </dd>
              </div>
            </dl>
          </div>
        </div>


      </div>
    </div>
    <div *ngIf="artObject.primaryImage"
      class="relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 lg:h-full">
      <img class="absolute inset-0 w-full h-full object-contain " src="{{artObject.primaryImageSmall}}" alt="">
    </div>
  </main>
</div>