<div class="bg-white">
    <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
        <div class="space-y-12">
            <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">Explore our collections</h2>

            <ul class="space-y-12 lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8 lg:gap-y-12 lg:space-y-0">
                <li>

                    <div [routerLink]="['collection', 'cat']" class="cursor-pointer">
                        <div class="space-y-4 sm:grid sm:grid-cols-3 sm:gap-6 sm:space-y-0 lg:gap-8">
                            <div class="h-0 aspect-w-3 aspect-h-2 sm:aspect-w-3 sm:aspect-h-4">
                                <img class="object-cover shadow-lg rounded-lg"
                                    src="https://images.metmuseum.org/CRDImages/es/web-large/DP-13455-009.jpg" alt="">
                            </div>
                            <div class="sm:col-span-2">
                                <div class="space-y-4">
                                    <div class="text-lg leading-6 font-medium space-y-1">
                                        <h3>Cats</h3>
                                        <p class="text-indigo-600">Copywriter</p>
                                    </div>
                                    <div class="text-lg">
                                        <p class="text-gray-500">Ultricies massa malesuada viverra cras lobortis. Tempor
                                            orci hac ligula dapibus mauris sit ut eu. Eget turpis urna maecenas cras.
                                            Nisl dictum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <div [routerLink]="['collection', 'sun']" class="cursor-pointer">
                        <div class="space-y-4 sm:grid sm:grid-cols-3 sm:gap-6 sm:space-y-0 lg:gap-8">
                            <div class="h-0 aspect-w-3 aspect-h-2 sm:aspect-w-3 sm:aspect-h-4">
                                <img class="object-cover shadow-lg rounded-lg"
                                    src="https://images.metmuseum.org/CRDImages/ao/web-large/VS64_228_761.JPG" alt="">
                            </div>
                            <div class="sm:col-span-2">
                                <div class="space-y-4">
                                    <div class="text-lg leading-6 font-medium space-y-1">
                                        <h3>sun</h3>
                                        <p class="text-indigo-600">Copywriter</p>
                                    </div>
                                    <div class="text-lg">
                                        <p class="text-gray-500">Ultricies massa malesuada viverra cras lobortis. Tempor
                                            orci hac ligula dapibus mauris sit ut eu. Eget turpis urna maecenas cras.
                                            Nisl dictum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div [routerLink]="['collection', 'dogs']" class="cursor-pointer">
                        <div class="space-y-4 sm:grid sm:grid-cols-3 sm:gap-6 sm:space-y-0 lg:gap-8">
                            <div class="h-0 aspect-w-3 aspect-h-2 sm:aspect-w-3 sm:aspect-h-4">
                                <img class="object-cover shadow-lg rounded-lg"
                                    src="https://images.metmuseum.org/CRDImages/eg/web-large/chr30.4.41.jpg" alt="">
                            </div>
                            <div class="sm:col-span-2">
                                <div class="space-y-4">
                                    <div class="text-lg leading-6 font-medium space-y-1">
                                        <h3>Dogs</h3>
                                        <p class="text-indigo-600">Copywriter</p>
                                    </div>
                                    <div class="text-lg">
                                        <p class="text-gray-500">Ultricies massa malesuada viverra cras lobortis. Tempor
                                            orci hac ligula dapibus mauris sit ut eu. Eget turpis urna maecenas cras.
                                            Nisl dictum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>


                <li>
                    <div [routerLink]="['collection', 'moon']" class="cursor-pointer">
                        <div class="space-y-4 sm:grid sm:grid-cols-3 sm:gap-6 sm:space-y-0 lg:gap-8">
                            <div class="h-0 aspect-w-3 aspect-h-2 sm:aspect-w-3 sm:aspect-h-4">
                                <img class="object-cover shadow-lg rounded-lg"
                                    src="https://images.metmuseum.org/CRDImages/es/web-large/DP-16489-005.jpg" alt="">
                            </div>
                            <div class="sm:col-span-2">
                                <div class="space-y-4">
                                    <div class="text-lg leading-6 font-medium space-y-1">
                                        <h3>Moon</h3>
                                        <p class="text-indigo-600">Copywriter</p>
                                    </div>
                                    <div class="text-lg">
                                        <p class="text-gray-500">Ultricies massa malesuada viverra cras lobortis. Tempor
                                            orci hac ligula dapibus mauris sit ut eu. Eget turpis urna maecenas cras.
                                            Nisl dictum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>


                <li>
                    <div [routerLink]="['collection', 'glass']" class="cursor-pointer">
                        <div class="space-y-4 sm:grid sm:grid-cols-3 sm:gap-6 sm:space-y-0 lg:gap-8">
                            <div class="h-0 aspect-w-3 aspect-h-2 sm:aspect-w-3 sm:aspect-h-4">
                                <img class="object-cover shadow-lg rounded-lg"
                                    src="https://images.metmuseum.org/CRDImages/es/web-large/DP155158.jpg" alt="">
                            </div>
                            <div class="sm:col-span-2">
                                <div class="space-y-4">
                                    <div class="text-lg leading-6 font-medium space-y-1">
                                        <h3>Glass</h3>
                                        <p class="text-indigo-600">Copywriter</p>
                                    </div>
                                    <div class="text-lg">
                                        <p class="text-gray-500">Ultricies massa malesuada viverra cras lobortis. Tempor
                                            orci hac ligula dapibus mauris sit ut eu. Eget turpis urna maecenas cras.
                                            Nisl dictum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div [routerLink]="['collection', 'pencil']" class="cursor-pointer">
                        <div class="space-y-4 sm:grid sm:grid-cols-3 sm:gap-6 sm:space-y-0 lg:gap-8">
                            <div class="h-0 aspect-w-3 aspect-h-2 sm:aspect-w-3 sm:aspect-h-4">
                                <img class="object-cover shadow-lg rounded-lg"
                                    src="https://images.metmuseum.org/CRDImages/dp/web-large/DP886025.jpg" alt="">
                            </div>
                            <div class="sm:col-span-2">
                                <div class="space-y-4">
                                    <div class="text-lg leading-6 font-medium space-y-1">
                                        <h3>Pencil</h3>
                                        <p class="text-indigo-600">Copywriter</p>
                                    </div>
                                    <div class="text-lg">
                                        <p class="text-gray-500">Ultricies massa malesuada viverra cras lobortis. Tempor
                                            orci hac ligula dapibus mauris sit ut eu. Eget turpis urna maecenas cras.
                                            Nisl dictum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
















<router-outlet></router-outlet>