<nav class="bg-white shadow pb-3">
  <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex px-2 lg:px-0">
        <div class="flex-shrink-0 flex items-center">
     
            <img class="pt-4 mx-auto self-auto h-20 w-auto" src="/assets/images/logo.JPG"
                alt="Workflow">
        </div>
        <div class="hidden lg:ml-6 lg:flex lg:space-x-8">
          <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
          <a routerLink="/home" routerLinkActive="active"
            class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
            Home
          </a>
          <a routerLink="/department" routerLinkActive="active"
            class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
            Departments
          </a>
          <a routerLink="/collections" routerLinkActive="active"
            class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
            Highlights
          </a>
          <a routerLink="/api-met" routerLinkActive="active"
            class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
            The Met API
          </a>
          <a routerLink="/contact" routerLinkActive="active"
            class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
            Contact
          </a>

        </div>
      </div>



      <div *ngIf="showHead" class="flex-1 flex items-center justify-center px-2 lg:ml-6 lg:justify-end">
        <app-search></app-search>
      </div>
      <div class="flex items-center lg:hidden">
        <button (click)="setMostrar()" type="button"
          class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
          aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>

          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>

          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="hidden lg:ml-4 lg:flex lg:items-center">

        <a *ngIf="!showHead" [routerLink]="'user/login'"
          class="px-4 whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
          Login
        </a>
        <a *ngIf="!showHead" [routerLink]="'user/register'"
          class="px-4 ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-red-600 hover:bg-red-700">
          Register
        </a>

        <!-- Profile dropdown -->
        <div *ngIf="showHead"  class="ml-4 relative flex-shrink-0">
          <!-- This example requires Tailwind CSS v2.0+ -->
          <a class="flex-shrink-0 group block">
            <div class="flex items-center">
              <div routerLink="/user/details" class="cursor-pointer">
 
              </div>
              <div class="ml-3">
                <p routerLink="/user/details" class="cursor-pointer text-sm font-medium text-gray-700 group-hover:text-gray-900">
                  {{user}}
                </p>
                <p routerLink="/user/details"  class="cursor-pointer text-xs font-medium text-gray-500 group-hover:text-gray-700">
                  View profile
                </p>
                <p (click)="logout()"  class="cursor-pointer text-xs font-medium text-red-500 group-hover:text-red-700">
                  Logout
                </p>
              </div>
            </div>
          </a>


        </div>
      </div>
    </div>
  </div>


</nav>