<!-- This example requires Tailwind CSS v2.0+ -->
<div class="py-16 bg-gray-50 overflow-hidden lg:py-24">
    <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl">
        <svg class="hidden lg:block absolute left-full transform -translate-x-1/2 -translate-y-1/4" width="404"
            height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
            <defs>
                <pattern id="b1e6e422-73f8-40a6-b5d9-c8586e37e0e7" x="0" y="0" width="20" height="20"
                    patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
            </defs>
            <rect width="404" height="784" fill="url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)" />
        </svg>

        <div class="relative">
            <h2 class="text-center text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">

                Celebrating Three Years of Open Access at The Met </h2>
            <p class="mt-4 max-w-3xl mx-auto text-center text-xl text-gray-500">
                Sofie Andersen, Interim Chief Digital Officer; and Spencer Kiser, Lead Developer, Collection </p>
        </div>




        <div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
            <div class="relative">

                <p class="mt-3 text-lg text-gray-500">
                    This February marks the third anniversary of the Met's Open Access program; it's been an
                    extraordinary third year, one that has far
                    outstripped our expectations and revealed the significant impact the program is making. Open Access
                    has been a remarkable success:
                    The Met's artwork has reached a phenomenal 225 million annual views on Wikipedia. A diverse range of
                    users have employed the data for a
                    variety of purposes; creators are developing new interfaces, as well as data visualizations that
                    uncover fascinating new stories about our collection.
                    Learning from our users' needs and behaviors, we are only just beginning to realize the program's
                    potential for helping The Met reach a wider global
                    audience (in sometimes novel ways). As we cross this important milestone, which coincides with the
                    Museum's 150th anniversary,
                    we'd like to reflect on some of the goals we've achieved with Open Access, and share our vision for
                    the program's future. </p>

            </div>

            <div class="mt-10 -mx-4 relative lg:mt-0" aria-hidden="true">
                <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784"
                    height="404" fill="none" viewBox="0 0 784 404">
                    <defs>
                        <pattern id="ca9667ae-9f92-4be7-abcb-9e3d727f2941" x="0" y="0" width="20" height="20"
                            patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                        </pattern>
                    </defs>
                    <rect width="784" height="404" fill="url(#ca9667ae-9f92-4be7-abcb-9e3d727f2941)" />
                </svg>
                <img class="relative mx-auto" width="490"
                    src="https://images.metmuseum.org/CRDImages/es/original/DP-16489-005.jpg" alt="">
            </div>
        </div>



        <svg class="hidden lg:block absolute right-full transform translate-x-1/2 translate-y-12" width="404"
            height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
            <defs>
                <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20"
                    patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
            </defs>
            <rect width="404" height="784" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)" />
        </svg>



        <div class="relative mt-12 sm:mt-16 lg:mt-24">
            <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center">
                <div class="lg:col-start-2">
                    <h3 class="text-2xl font-extrabold text-gray-900 tracking-tight sm:text-3xl">
                        Creating a Pipeline to The Met's Collection Data

                    </h3>
                    <p class="mt-3 text-lg text-gray-500">
                        Some background: when we launched the Open Access program in 2017, we released a basic set of
                        metadata under a CC0 license. This includes object information (such as title, maker, culture,
                        medium, date, and dimensions), artist information (such as name, nationality, birth and death
                        year, and their role in creating the object), and links to related public domain images. This
                        information is accessible to interested users via a downloadable .CSV file on our website (more
                        about that later).

                        We have since launched an API (again, more about that in a moment), and with the help of our
                        partners at Google and Wikimedia, a number of other features that help programmers, researchers,
                        and artists process The Met's public-domain images. Feedback from programmers and researchers
                        inspired us to develop filtering tools that can shape the data for specific purposes—we now have
                        filters for objects with images, collection highlights, and objects by curatorial department. We
                        also added keyword tags that identify specific subject matters (like cats!), providing new ways
                        for users to explore and discover artworks. </p>


                </div>

                <div class="mt-10 -mx-4 relative lg:mt-0 lg:col-start-1">
                    <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784"
                        height="404" fill="none" viewBox="0 0 784 404" aria-hidden="true">
                        <defs>
                            <pattern id="e80155a9-dfde-425a-b5ea-1f6fadd20131" x="0" y="0" width="20" height="20"
                                patternUnits="userSpaceOnUse">
                                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                            </pattern>
                        </defs>
                        <rect width="784" height="404" fill="url(#e80155a9-dfde-425a-b5ea-1f6fadd20131)" />
                    </svg>
                    <img class="relative mx-auto" width="490"
                        src="https://images.metmuseum.org/CRDImages/as/original/DP361166.jpg" alt="">
                </div>
            </div>
        </div>


        <div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
            <div class="relative">
                <h3 class="text-2xl font-extrabold text-gray-900 tracking-tight sm:text-3xl">
                    API
                </h3>
                <p class="mt-3 text-lg text-gray-500">
                    APIs, or "application programming interfaces," are a means for apps to communicate with each other. Our API provides up-to-date information 
                    about each of our artworks on demand, so that users can request data about a specific work of art. This contrasts with our CSV, which contains 
                    all data for all objects, in a single file. So the API makes our collection more accessible, discoverable, and useful to developers, creators, and 
                    makers who don't want or need to download the entirety of the Museum's collection. Each month since its launch in 2018, the API has received an average 
                    of over three million information requests from more than two thousand users—an amount that has far surpassed our expectations. </p>

            </div>

            <div class="mt-10 -mx-4 relative lg:mt-0" aria-hidden="true">
                <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784"
                    height="404" fill="none" viewBox="0 0 784 404">
                    <defs>
                        <pattern id="ca9667ae-9f92-4be7-abcb-9e3d727f2941" x="0" y="0" width="20" height="20"
                            patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                        </pattern>
                    </defs>
                    <rect width="784" height="404" fill="url(#ca9667ae-9f92-4be7-abcb-9e3d727f2941)" />
                </svg>
                <img class="relative mx-auto" width="490"
                    src="https://images.metmuseum.org/CRDImages/md/web-large/sf17-190-448s1.jpg" alt="">
            </div>
        </div>


        <svg class="hidden lg:block absolute right-full transform translate-x-1/2 translate-y-12" width="404"
            height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
            <defs>
                <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20"
                    patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
            </defs>
            <rect width="404" height="784" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)" />
        </svg>



        <div class="relative mt-12 sm:mt-16 lg:mt-24">
            <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center">
                <div class="lg:col-start-2">

                    <p class="mt-3 text-lg text-gray-500">
                        One of the many applications that's since been built on top of our API is Cleo, which allows users to "search over 45,000 
                        ancient Egyptian objects from multiple international collections by text, image, and location in Dutch and English." 
                        And in early 2019, The Met collaborated with Microsoft and MIT on a handful of AI web application prototypes, many of which are 
                        continuing to be developed by our partners, and are helping to inform our thinking about our own applications. We’ve shared some 
                        early and ongoing explorations using AI search here. Our API has also been incorporated into university curriculums and research 
                        efforts by learning institutions like the Parsons School of Design and the University of Virginia School of Data Science. The most 
                        widely impactful uses of the API so far include our integration with Google Arts and Culture, Pinterest, and Creative Commons, all 
                        of whom collate The Met collection with other collections, images, and datasets from around the world. This means millions of global 
                        users no longer have to know about The Met in order to connect with its collection; Our API has placed us on the platforms people 
                        globally use for their own discovery every day. This not only increases our chances of connecting them to The Met collection, 
                        it integrates The Met into both our everyday lives and the world's shared knowledge </p>


                </div>

                <div class="mt-10 -mx-4 relative lg:mt-0 lg:col-start-1">
                    <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784"
                        height="404" fill="none" viewBox="0 0 784 404" aria-hidden="true">
                        <defs>
                            <pattern id="e80155a9-dfde-425a-b5ea-1f6fadd20131" x="0" y="0" width="20" height="20"
                                patternUnits="userSpaceOnUse">
                                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                            </pattern>
                        </defs>
                        <rect width="784" height="404" fill="url(#e80155a9-dfde-425a-b5ea-1f6fadd20131)" />
                    </svg>
                    <img class="relative mx-auto" width="490"
                        src="https://images.metmuseum.org/CRDImages/es/web-large/DP217096.jpg" alt="">
                </div>
            </div>
        </div>

        
        <div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
            <div class="relative">

                <p class="mt-3 text-lg text-gray-500">
                    We have been especially pleased by the use of the API by individual creators around the world. 
                    We’ve seen playful Instagram filters pop up, including this one by XR artist Lauren Cason, based on this nineteenth-century still 
                    life by painter Severin Rosen in The Met collection. "I love that the Open Access collection democratizes museum access—you might 
                    not live in a major metropolitan area, you might not be able to afford a trip to a museum, you might not have time for a visit, but 
                    there is this enormous collection at your fingertips that you can pull from, be inspired by, work with, all for free online," says Cason.
            </div>

            <div class="mt-10 -mx-4 relative lg:mt-0" aria-hidden="true">
                <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784"
                    height="404" fill="none" viewBox="0 0 784 404">
                    <defs>
                        <pattern id="ca9667ae-9f92-4be7-abcb-9e3d727f2941" x="0" y="0" width="20" height="20"
                            patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                        </pattern>
                    </defs>
                    <rect width="784" height="404" fill="url(#ca9667ae-9f92-4be7-abcb-9e3d727f2941)" />
                </svg>
                <img class="relative mx-auto" width="490"
                    src="https://images.metmuseum.org/CRDImages/es/web-large/DP-18047-139.jpg" alt="">
            </div>
        </div>




    </div>
</div>